@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');


/* Variables para colores */

:root {
    --main-bg-color: #ffeee3;
    --border-bgh-color: #e73992;
    --shadow-color: #fea6cb;
}

body {
    background-color: var(--main-bg-color);
}

#container {
    margin: 2%;
    border-radius: 1%;
    padding: 3%;
    border: solid 2px var(--border-bgh-color);
    box-shadow: 5px 5px 5px var(--shadow-color);
}

#frutos-secos {
    display: flex;
    flex-wrap: wrap;
    margin: 2%;
    padding: 1%;
    justify-content: space-around;
}

.article {
    width: 200px;
    height: auto;
    margin: 2%;
    padding: 3%;
    border: solid 2px var(--border-bgh-color);
    border-radius: 2%;
    box-shadow: 5px 5px 5px var(--shadow-color);
}

img {
    max-width: 100%;
    height: auto;
}

.title {
    font-family: "PT Serif", serif;

}

.description {
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    font-family: "PT Serif", serif;
    text-align: justify;
    font-weight: 200;
}

.btnAddToCart {
    border: none;
    border-radius: 8px;
    padding: 5% 10%;
    margin: 10%;
    box-shadow: 2px 2px 2px var(--shadow-color);
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.btnAddToCart:hover, .btnPay:hover  {
    background-color: var(--border-bgh-color);
    color: var(--main-bg-color);
}

.totalText {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "PT Serif", serif;
    margin: 5%;
    padding: 3%;
    border: solid 2px var(--border-bgh-color);
    box-shadow: 5px 5px 5px var(--shadow-color);
    border-radius: 8px;
}

.icon-cart {
    width: 50px;
    margin: 3%;
}

.btnPay {
    border: none;
    border-radius: 8px;
    padding: 3%;
    margin: 3%;
    box-shadow: 2px 2px 2px var(--shadow-color);
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

input {
    border: none;
    border-radius: 8px;
    padding: 3%;
    margin: 2%;
    box-shadow: 2px 2px 2px var(--shadow-color);
}

.stock {
    margin-bottom: 0;
    padding-bottom: 0;
}

.logo-semina {
    width: 20%;
    height: auto;
    margin: 2%;
    padding: 1%;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-bg-color);
    margin: 2%;
}

.menu {
    width: 70%;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    font-family: "PT Serif", serif;
    font-size: 20px;
    cursor: pointer;
}

.menu-item {
    margin: 5%;
    outline: none;
    text-decoration: none;
    width: 50%;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    font-family: "PT Serif", serif;
    font-size: 20px;
    color: black;
    cursor: pointer;
    border-radius: 5%;
    padding: 3%;
}

.menu-item:hover {
    background-color: var(--border-bgh-color);
    color: var(--main-bg-color);
}

.footer-copyright {
    margin: 3%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}